.search-bar-container {
    position: relative;
    padding-left: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #9f9f9f;
    margin-top: 20px;
}

.search-bar {
    background: #424242;
    /* width: 30px; */
    width: 50%;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: #9f9f9f;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-indent: 30px;
    caret-color: transparent;
} 

.search-bar-expanded {
    width: 90%;
    height: 30px;
    border-radius: 15px;
    text-indent: 35px;
    caret-color: #9f9f9f;
}

.magnifying-glass {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    margin-left: 1.5rem;
}

